html{
    font-size: 62,35%;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 26px;
    border-bottom: 1.5px solid #00000030;
}

#home{
    text-decoration: none;
    outline: none;
    color: royalblue;
    font-size: 1.8rem;
}

header div{
    display: flex;
    align-items: center;
    width: 320px;
    height: 45px;
    padding: 2px 2px 2px 15px;
    background-color: #FFFFFF;
    border: 2px solid royalblue;
    border-radius: 50px;
}

#nameCity{
    margin-right: 12px;
    border: none;
    font-size: 1.0rem;
    padding-left: 6px;
    outline: none;
}

#search{
    background-color: royalblue;
    padding: 6px 15px;
    border-radius: 50px;
    color: #FFFFFF;
    cursor: pointer;

}

#search:active{
    padding: 5px 14px;
    background-color: steelblue;
}

main{
    display: flex;
    flex-wrap: wrap;
    height: 560px;
    margin: 15px;
    padding: 40px;    
}

.info{
    flex-grow: 1;
    flex-basis: 380px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.info img{
    max-width: 100%;
    margin-bottom: 32px;
}

.card-weather{
    flex-grow: 1;
    flex-basis: 380px;
    max-height: 470px;
    margin-left: 26px;
    border-radius: 12px;
    border: 1px solid rgba(55, 55, 55, 0.2);
    box-shadow: 2px 2px 8px rgba(55, 55, 55, 0.2),
                -2px -2px 8px rgba(55, 55, 55, 0.2);
}

.card-anima{
    opacity: 0;
    animation: animacard 1s linear forwards;
}

.card-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card-img{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.card-weather h4{
    margin: 8px 12px;
    font-size: 0.8rem;
}

.card-img img{
    max-width: 260px;
    margin: 8px 12px;
}

.card-graus{
    margin-right: 24px;
}

#graus{
    font-size: 8.4rem;
    color: royalblue;
}

.card-max-min{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 32px;
}

.card-max-min span{
    font-size: 1.6rem;
}

#max{
    color: royalblue;
    font-size: 2.2rem;
    margin-left: 6px;
}

#min{
    color: royalblue;
    font-size: 2.2rem;
    margin-left: 6px;
}

.card-max-min img{
    width: 76px;
}


/*KEYFRAMES*/
@keyframes animacard{
    from{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

/*MEDIA QUERIES*/
@media (max-width: 1073px){
    .card-weather{
        margin: 25px 0px;
    }
}

@media (max-width: 675px){
    html{
        font-size: 80%;
    }

    .card-weather{
        flex-grow: 1;
        max-height: 1250px;
    }

    .card-graus{
        width: 100%;    
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .card-container{
        flex-direction: column;
        align-items: center;
    }

    header div {
        display: flex;
        justify-content: space-between;
    }

    #search{
        padding: 10px 15px;
    }
}